<div id="carouselNew" class="carousel slide" data-ride="carousel" data-interval="3000">
  <div class="carousel-inner">
    {{#each Posts as |post index|}}
    <div class="carousel-item{{#if index}} active{{/if}}">
      <div class="row mb-4 post">
        <div class="col-md-12">
          <div class="post-card">
            <div class="post-image">
              <img src="{{post.image_url}}" alt="{{post.title}}">
            </div>
            <div class="post-content">
              <h2><a href="/post/{{post.id}}" class="post-title">{{post.title}}</a></h2>
              <p class="metadata">Published on {{format_date post.date_created}} by {{user.name}}</p>
              <p class="post-excerpt">{{post.excerpt}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<<<<<<< HEAD
<button id="logout">Logout here!</button>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/public/js/homepage.js"></script>

=======
{{/each}}
<button id="logout">Logout here!</button>
<<<<<<< HEAD
<script src='./js/logout.js'></script>
=======
<script src='./js/logout.js'></script>
>>>>>>> 49fef37de549b3028cd6e5d627af10603277352b
>>>>>>> 680b8cb43d43ed4a55792ddf0a912d6123b52ee6
